
# Created by https://www.gitignore.io/api/go,godot
# Edit at https://www.gitignore.io/?templates=go,godot

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

### Go Patch ###
/vendor/
/Godeps/

### Godot ###

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# End of https://www.gitignore.io/api/go,godot

.DS_Store
.vscode
strainscraper
